# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore editor files
*.swp
*.swo
*.bak

# Ignore build artifacts
build/
dist/
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp
*.env

# cache
.cache